/* Navbar*/
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-logo img {
  width: 100px;
  height: 100px;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s, border-bottom 0.2s;
  padding: 5px 10px;
  position: relative;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-search input {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  min-width: 160px;
  outline: none;
  transition: border-color 0.3s ease;
}

.navbar-search input:focus {
  border-color: #000;
}

/* Auth buttons */
.navbar-auth {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px 20px;
}

.navbar-auth .greeting {
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.navbar-auth .logout {
  background-color: #000;
  color: #fff;
  padding: 6px 18px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-auth .logout:hover {
  background-color: #222;
}

.navbar-auth .login {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-auth .login:hover {
  color: #555;
}

.navbar-auth .signup {
  background-color: #000;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

.navbar-auth .signup:hover {
  background-color: #222;
}
.navbar-auth .account-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-auth .account-link:hover {
  text-decoration: underline;
}

/* Slide-in Mobile Drawer */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.navbar-logoDrawer {
  display: flex;
  align-items: center;
  margin-left: 65px;
}

.navbar-logoDrawer img {
  width: 150px;
  height: 150px;
}
.mobile-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}